
UnityFlex/Library/ShaderCache.db
*.db
UnityFlex/Library/ArtifactDB
UnityFlex/Library/ShaderCache.db
UnityFlex/Library/SourceAssetDB
UnityFlex/Temp/UnityLockfile
*.db
UnityFlex/Library/ArtifactDB
UnityFlex/Library/ShaderCache.db
UnityFlex/Library/SourceAssetDB

UnityFlex/.vs/UnityFlex/v16/.suo
